@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,200;1,500&display=swap');

body {
  font-family: 'Epilogue', sans-serif;
  margin: 0;
  /* background: linear-gradient(280deg, rgb(133, 226, 203, .3), rgb(172, 187, 183, .9)); */
  background: #282c34;
}

main {
  display: block;
  border: 1px solid rgba(209, 208, 208, 0.5);
  border-radius: 20px;
  background: linear-gradient(280deg, rgb(133, 226, 203, .3), rgb(172, 187, 183, .9));
  z-index: -1;
  box-shadow: 0px 3px rgba(75, 67, 67, 0.2);
  overflow-y: scroll;
  height: 800px; 
}

pre {
  white-space: pre-line;
  word-wrap: break-word;
}

div {
  display: block;
}

div.projects {
  white-space: pre-line;
  word-wrap: break-word;
}

div.images {
  display: flex;
  position: relative;
  width: 20%;
  left: 70%;
  top: 100%;
  bottom: 100%;
}

img {
  max-width: 200px;
  height: auto;
}

.endless {
  text-align: center;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: white;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: rgb(31, 31, 31);
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 15%;
  margin-right: 50%;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 600px) {
  body {
    text-align: left;
  }
  .sidebar {
    top: 0px;
    width: 100%;
    height: auto;
    position: fixed;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-top: 10%;
    margin-left: 0;
    margin-right: 0;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    float: left;
    text-align: center;
    position: relative;
  }
}

