@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


/* TODO: ADD MEDIA DESIGN QUERIES */
  
  html {
    background-repeat: no-repeat;
    min-height: 100%;
    width: 100%;
    height: auto;
    background: #f2f2f2;
  }
  
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .darkblock {
    float: left;
    padding: 0.5rem 1rem;
    border: 0.1rem solid white;
    border-radius: 0.2rem;
    box-shadow: inset 0 0 20px rgba(218, 243, 243, 0.8);
    cursor: pointer;
    opacity: 0;
  }

  .homeblock {
    display: flex;
    padding: 0.5rem 1rem;
    border: 0.1rem solid white;
    border-radius: 0.2rem;
    box-shadow: inset 0 0 20px rgba(218, 243, 243, 0.8);
    cursor: pointer;
    font-family: 'Jost', sans-serif;
    letter-spacing: 0.2rem;
    opacity: 0;
  }

  .parentblock {
    padding: 2vw 2vw;
    height: auto;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vw;
    border: 2px solid white;
    border-radius: 1vw;
    background-color:  rgba(255, 255, 255, 0.616);
    box-shadow: inset 0 0 20px rgba(218, 243, 243, 0.8);
  }
  
  .parentblock:hover{
    font-size: 3.05vw;
  }
  
  .glow {
    text-shadow: 0 0 5px #ffffff;
  }

  .scrollable {
    overflow-Y: scroll;
  }
  
  .firstblock {
    padding: 1vw 3vw;
    background:  rgba(255, 255, 255, .4);
    border: 2px solid white;
    border-radius: 1vw;
    text-align: center;
    transition: all 0.5s ease-in-out;
    color: rgba(57, 59, 59, 1); 
    box-shadow: inset 0 0 20px rgba(57, 59, 59, 0.8);
    cursor: pointer;
  }

  .firstblock:hover{
    font-size: 3.05vw;
    box-shadow: inset 0 0 20px rgba(255, 243, 243, 0.8);
    background: rgba(173, 210, 212, 0.5);
    color: white;
    transition: all 0.8s ease;
    text-shadow: 0 0 0.2rem black;
    z-index: -1;
  }
  
  .firstblock:hover > #endless_title{
    text-shadow: 0 0 2rem black;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
  } 

  .firstblock:hover > #holder {
    color:  rgb(219, 213, 213);
    font-weight: 7000;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
  }

  .project {
    font-size: 20px;
    margin: 0;
    padding: 20px 0px;
    height: auto;
    border-top: 2px solid black;
  }
   
  h1 {
    font-family: 'Jost', sans-serif;
    font-weight: 100;
    margin: 0.67em 0;
  }

  .repository {
    text-align: center;
    font-style: italic;
    letter-spacing: 0.1rem;
  }
  
  #parent {
    font-size: 1.5vw;
    font-family: 'Open Sans', sans-serif;
  }

  #holder {
    font-size: 1.5vw;
    font-family: 'Open Sans', sans-serif;
    opacity: 0;
    font-weight: 700;
    -webkit-text-stroke: 0.2px black;
  }

  #projectname {
    font-family: 'Jost', sans-serif;
    font-size: 1.5rem;
  }

  #github {
    text-align: right;
    float: right;
    margin-top: 0.1rem;
    width: 1rem;
    height: 1rem;
  }

  #darkmode {
    opacity: 0;
  }

  #home {
    transition: padding-left 0.3s ease;
  }

  #home:hover {
    text-shadow: 0 0 5px #ffffff;
    padding-left: 1%;
  }

  #source {
    position: fixed;
    bottom: 0;
    right: 0;
  }

  #esses {
    transition: all 0.5s ease;
  }

  #home:hover > #esses {
    transition: all 1s;
    text-shadow: 0 0 5px #ffffff;
    transform: scale(-1, 1);
  }

  .ipad {
    width: auto;
  }

/* iPad Query */
  @media only screen and (max-width: 768px) {
    .firstblock {
      font-size: 10vw;
    }

    #holder {
      line-height: 1;
      font-size: 5vw;
    }
    
    a {
      font-size: 1.5vw;
    }

    img {
      visibility: hidden;
    }

    /* .ipad { LOOKING FOR A WAY TO IMPROVE IPAD WIDTH DISPLAY
      width: 66.66666%;
    } */

    /* .ipad:after {
      content: "- iPad's currently struggle to show images. Visit on desktop for the best user experience!"
    } */

    #parent {
      font-size: 4vw;
    }
  }
/* iPhone 6/7/8 PLUS */
  @media only screen and (max-width: 414px) {
      #parent {
      font-size: 4vw;
      width: 80%;
      overflow-x: hidden;
    }
    
    .firstblock {
      font-size: 7vw;
    }

    a {
      font-size: 4vw;
    }

    img {
      visibility: visible;
    }

    #holder {
      line-height: 1;
      font-size: 5.2vw;
    }
  }
/* iPhone 6/7/8 + X/XS */
  @media only screen and (max-width: 375px) {
    #parent {
      font-size: 4vw;
      width: 85%;
      overflow-x: hidden;
    }
      
    .firstblock {
      font-size: 7vw;
    }

    a {
      font-size: 4vw;
    }

    img {
      visibility: visible;
    }

    #holder {
      line-height: 1;
      font-size: 5vw;
      padding-right: 0.5vw;
    }
  }
/* Galaxy S9/S9+ Android */
  @media only screen and (max-width: 360px) {
    #parent {
      font-size: 4vw;
      width: 85%;
      overflow-x: hidden;
    }

    a {
      font-size: 4vw;
    }
      
    img {
      visibility: visible;
    }

    .firstblock {
      font-size: 7vw;
    }

    #holder {
      line-height: 1;
      font-size: 5vw;
      padding-right: 0.5vw;
    }
  }








  