/* @media (max-width: 480px) {
    body {
      width: 100%;
      margin-left: 0px;
      margin-right: 0px;
      text-align: left;
      margin-left: 33%;
      padding-right: 0%;
    }
  } */


body {
    text-align: left;
    width: auto;
    margin-left: 33%;
    margin-right: 33%;
}

pre {
    white-space: pre-line;
    word-wrap: break-word;
  }

div {
    display: block;
}

div .projects {
    white-space: pre-line;
    word-wrap: break-word;
}

.endless {
    text-align: center;
}